:root {
	--font-theme: 'Clash Display', sans-serif;
	// colors
	--color-primary: #eee1ca;
	--color-secondary: #2b2b2b;
	--color-tertiary: #5C5953;
	// weight
	--weight-regular: 400;
	--weight-medium: 500;
}